.places {
  display: grid;
  grid-row-gap: 80px;
  padding: 0 148px 0;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
}

@media screen and (max-width: 1124px) {
  .places {
    padding: 0 48px 0;
  }
}

@media screen and (max-width: 984px) {
  .places {
    grid-row-gap: 73px;
    padding: 0 24px 0;
  }
}

@media screen and (max-width: 568px) {
  .places {
    grid-row-gap: 64px;
    padding: 0;
  }
}
