.place__text {
  /* display: grid; */
  grid-row-gap: 26px;
  /* width: 484px; */
  height: fit-content;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 568px) {
  .place__text {
    padding: 0 16px;
  }
}
