.place__text {
  display: grid;
  grid-row-gap: 26px;
  height: fit-content;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

@media screen and (max-width: 984px) {
  .place__text {
    grid-row-gap: 25px;
    font-size: 16px;
  }
}

@media screen and (max-width: 568px) {
  .place__text {
    padding: 0 16px;
  }
}
