.lead__title {
  width: 100%;
  max-width: 720px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}

@media screen and (max-width: 732px) {
  .lead__title {
    max-width: 388px;
    margin: 0 16px;
    font-size: 60px;
    line-height: 65px;
  }
}

@media screen and (max-width: 568px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
