.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 732px) {
  .footer__copyright {
    padding: 0;
    margin: 48px 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }
}
