.intro__title {
  max-width: 690px;
  max-height: 58px;
  padding: 0;
  margin: 0 0 40px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

@media screen and (max-width: 984px) {
  .intro__title {
    max-width: 720px;
    max-height: 58px;
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 568px) {
  .intro__title {
    max-width: 288px;
    max-height: 70px;
    font-size: 32px;
    line-height: 35px;
  }
}
